html {
  background-color: rgba(253, 253, 253, 0.555);
}

body {
  font-family: Arial;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid rgb(14, 11, 11);
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(228, 184, 104);
}
.info {
  overflow: hidden;
  border: 0px solid #ccc;
  background-color: #f1f1f1;
}
.info button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.info button:hover {
  background-color: #ddd;
}

.info button.active {
  background-color: rgb(228, 184, 104);
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.input-form {
  margin-top: 30px;
}

.input {
  display: inline-block;
}
.label + .label {
  margin-top: 15px;
  width: 10%;
}

.label {
  display: flex;
  gap: 10px;
}

.input {
  max-width: 170px;
  height: 24px;
  padding: 5px;
}

.input-result {
  width: 170px;
  height: 24px;
  padding: 5px;
  background: rgba(253, 253, 253, 0.555);
}

.input-text {
  min-width: 37px;
}

.btn-calculate {
  margin-top: 20px;
  margin-left: 30px;
  max-width: 170px;
}

.select {
  margin: 10px 0;
  max-width: 170px;
  margin-left: 30px;
}

table {
  width: 100%; /*Ширина таблицы*/
  margin-bottom: 18px; /*Отступ снизу от таблицы*/
  padding: 0; /*Отступы внутри таблицы*/
  font-size: 13px; /*Размер шрифта*/
  border: 1px solid #dddddd; /*Граница таблицы*/
  border-spacing: 0; /*Отступы между границами ячеек*/
  border-collapse: separate; /*Границы ячеек не склеиваются*/
  -webkit-border-radius: 5px; /*Радиус скругления углов у таблицы Safari, Chrome*/
  -moz-border-radius: 5px; /*Радиус скругления углов у таблицы Mozilla*/
  border-radius: 5px; /*Радиус скругления углов у таблицы*/
  color: #666666; /*Цвет текста в таблице*/
  font-family: Arial; /*Семейство шрифтов*/
}

table th,
table td {
  padding: 10px 10px 9px; /*Отступы внутри ячеек*/
  line-height: 18px; /*Межстрочный интервал*/
  text-align: left; /*Выравнивание текста по левому краю*/
}

table th {
  padding-top: 9px; /*Отступы внутри ячеек*/
  font-weight: bold; /*Установка жирного начертания шрифта*/
  vertical-align: middle; /*Выравнивание по вертикали. Текст находится по середине*/
  color: black; /*Черный цвет в ячейках заголовков таблицы*/
}

table td {
  vertical-align: top; /*Выравнивание содержимого ячейки по верхнему краю*/
  border-top: 1px solid #ddd; /*Верхняя граница ячейки*/
}

table th + th,
table td + td,
table th + td {
  border-left: 1px solid #ddd; /*Стиль для левой границы между двумя ячейками*/
}

table thead tr:first-child th:first-child, /*Первая строка первая ячейка в заголовке таблицы*/
table tbody tr:first-child td:first-child /*Первая строка первая ячейка в теле таблицы*/ {
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}

table thead tr:first-child th:last-child, /*Первая строка последняя ячейка в заголовке таблицы*/
table tbody tr:first-child td:last-child /*Первая строка последняя ячейка в теле таблицы*/ {
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

table tbody tr:last-child td:first-child  /*Последняя строка первая ячейка в теле таблицы*/ {
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}

table tbody tr:last-child td:last-child  /*Последняя строка последняя ячейка в теле таблицы*/ {
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}

table tr:hover {
  background-color: #f2f2f2; /*Цвет строки при наведении курсора мыши*/
}

.tableinput {
  border: none;
}
