html {
  background-color: rgba(253, 253, 253, 0.555);
}

body {
  font-family: Arial;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.input-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.label + .label {
  margin-top: 15px;
  width: 10%;
}

.label {
  display: flex;
  gap: 10px;
}

.input {
  max-width: 170px;
  height: 24px;
  padding: 5px;
}

.input-text {
  min-width: 37px;
}

.btn-calculate {
  margin-top: 20px;
  margin-left: 30px;
  max-width: 170px;
}

.select {
  margin: 10px 0;
  max-width: 170px;
  margin-left: 30px;
}
